html {
  height: 100%;
  width: 100%;
}

hr {
  height: 3px;       /* controls thickness */
  background-color: #333;  /*line color*/
  border: none;       /* remove default border */
}



h1, .dish {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 60px;
  font-style: normal;
}

.Menu{
    border: solid 3px;
    padding: 20px;
    border-color: #a69c94;  
}

.desserts{
  font-size: 30px;
  font-weight: 5px;
}


h2, h3,h4,h5, .desserts, p{
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 10px;
  font-style: normal;
}

body {
  background-color: #F2E9E4;
  color: #403939;
}

img{
  margin: 10px;
}

h3 {
  padding: 16px;
  letter-spacing: 10px;
  background-color: #403939;
  color: #F2E9E4;
}

.cost{
  letter-spacing: 0px;
  color: #403939;
}

.dish{
  letter-spacing: 0px;
  font-size: 25px;
  padding: 2px;
}

p{
font-size: 16px;

}

h2{
  color: #732716;
  font-size: 3em;
}


h4{
  letter-spacing: 10px;
  color: #732716;
}

h5 {
  padding: 16px;
  letter-spacing: 10px;
}

h1 {
  font-size: 6em;
  /* font-family: 'Times New Roman', Times, serif; */
  letter-spacing: 5px;

}